* {
    font-family: "FontAwesome", "Roboto", "Arial", sans-serif;
    font-size: 14px;
    color: #ffffff;
}

window#waybar {
    background: #2e3440;
    border-bottom: 2px solid #4c566a;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}

#workspaces button.focused {
    background: #5e81ac;
}

#clock, #cpu, #memory, #battery, #custom-power {
    padding: 0 10px;
}

#custom-power {
    font-size: 16px;
}
