[user]
	email = 138399420+spencermx@users.noreply.github.com
	name = spencermx

[credential]
	helper = manager

[core]
	autocrlf = false
	longpaths = true
	editor = vim

[init]
	defaultBranch = master
